#MainMenu {visibility: hidden;}
footer {visibility: hidden;}

.main .block-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

[data-testid="stSidebar"] [data-testid="stImage"] {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200%;
}
[data-testid="stSidebar"] [data-testid="stImage"] img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;

}

[data-testid="stVerticalBlock"] > [data-testid="stHorizontalBlock"] > [data-testid="stVerticalBlock"] {
    border-radius: 10px;
}

[data-testid="stProgressBar"] {
    background-color: #f0f2f6;
    border-radius: 10px;
}
[data-testid="stProgressBar"] > div {
    background-color: #1f77b4;
}

[data-testid="stMetric"] {
    background-color: #3b82f6;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
[data-testid="stMetric"] > label {
    font-weight: bold;
}